{% extends 'base.html' %}

{% block title %}Available Properties{% endblock %}

{% block content %}
<h1>Available Properties</h1>
<ul>
    {% for property in properties %}
    <li>
        <h2><a href="{% url 'property_detail' property.id %}">{{ property.title }}</a></h2>
        <p>{{ property.description|truncatewords:20 }}</p>
        <p>Price per night: ${{ property.price_per_night }}</p>
        <p>Max guests: {{ property.number_of_guests }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
